mixin header(data, options)
  //- options = setOptionsDefaults(options, "header")
  - var primary = components.header.data.primary
  - var secondary = components.header.data.secondary

  header.header
    .header-top
      .l-site-width
        h1.header-logo
          a(href="/") Basler & Hofmann
      
        nav.header-menu.header-menu-secondary
          ul.l-horizontal-list
            each link, index in secondary
              li
                if link.icon
                  a(href=link.href)
                    i(class="icon icon-" + link.icon)
                    | #{link.title}
                else
                  a(href=link.href)= link.title

    .header-bottom
      .l-site-width
        nav.header-menu.header-menu-primary
          ul.l-horizontal-list
            each link, index in primary
              li
                if link.title == options.active
                  a.active(href=link.href)= link.title
                else
                  a(href=link.href)= link.title
        
        a.header-search(alt="Search", href="#")
          i.icon.icon-search
