mixin filter(data, options)
  - options = setOptionsDefaults(options, "filter", components.filter)
  - var itemGroups = data.itemGroups || components.filter.data.itemGroups

  .filter(data-filter-attribute=data.filterAttribute)
    button.filter-button(type="button")
      | #{data.label}
      span.filter-text-value #{data.filterValue}
      span(data-grunticon-embed, class='icon icon--downstroke')

    .filter-callout
      +search-field({ placeholder: '' }, {size: "small"})

      .filter-content
        +filter-content(itemGroups, data)

mixin filter-content(itemGroups, data)

  //- a.filter-item.filter-item--all(href="#", data-original=data.filterValue) Alle
  each group, index in itemGroups
    div.filter-index= group.label
    ol.filter-index-list
      each item, index2 in group.items
        li
          a.filter-item(href="#" + item)= item
