mixin item-current(data, options)
  - options = setOptionsDefaults(options, "item-current", components['item-current'])
  if options.icon == 'publikation'
    - options.icon = 'archive' // TODO: remove this when the correct "book" icon when available.

  +item-current-wrapper(data, options)
    span(data-grunticon-embed, class="item-current-icon icon icon--" + options.icon)
    .item-current-type.t-label= data.label
    +item-current-title(data, options)
      | #{data.title}
      if options.isExternal
        span(data-grunticon-embed, class="icon item-current-external icon--export")

mixin item-current-wrapper(data, options)
  - var classes = getOptionsModifier(options, "item-current", ['size'], components['item-current'])
  - var href = data.href || '#'

  if options.size != 'box' && options.size != 'medium'
    - classes += ' l-grid-cell l-one-half'

  if options.size == 'medium'
    article(class=classes)
      a.item-current-link(href=href)
        block
  else
    a.item-current-link(class=classes, href=href)
      block

mixin item-current-title(data, options)
  - var classes = 'item-current-title t-link'
  if options.size == 'medium'
    h2(class=classes)
      block
  else
    div(class=classes)
      block
