mixin item-contact(data, options)
  - options = setOptionsDefaults(options, "item-contact", components["item-contact"])

  - var dataAttributes = {}
  if data.attributes
    each val, key in data.attributes
      - dataAttributes['data-' + key] = val

  .item-contact.vcard(itemscope, itemtype="http://schema.org/Person")&attributes(dataAttributes)
    a.item-contact-link(href="/en/detail-generic.html")
      img.item-contact-image(itemprop="image", alt=data.firstname + ' ' + data.lastname, src=data.imgSrc)
      .item-contact-title.fn(itemprop="name")= data.firstname + ' ' + data.lastname
      .item-contact-text
        span(itemprop="jobTitle")= data.role
        span , Bereich #{data.region}
        div.tel(itemprop="telephone")= data.phone
    
    a.item-contact-email(href="mailto:" + data.email) Email
